
<link href="/grid_stuff/main.css" rel="stylesheet">
<link href="/grid_stuff/modal.css" rel="stylesheet">
<script src="/grid_stuff/modal.js"></script>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- https://codepen.io/alicevega/pen/vEWXGL -->
<!-- TODO: create conditionals to enhance security and allow disabling a feature -->
<!-- TODO: look for a strategy to disable the javascript pop-up link while preserving the format -->

<!-- TODO: instead of poping up a text screen, it could be a gallery of the project itself (title always on top, some optional text below) -->
<body>
	<div class="container">
		<div class="row">
  			<!-- iterate over all entries in the projects.yaml file -->
  			<p style="margin: 10px;"></p>

        <!--             -->
        <!-- left column -->
        <!--             -->
        <div class="col-sm-6" style="padding-left:15px;padding-right:0px">
        <!-- <div class="col" style="width:50%;position:relative;min-height:1px;padding-right:15px;padding-left:15px"> -->
  			{%- for project in include.projects -%}
          {%- if project.column == "left" -%}

    				<!-- pop-up window, only if there's content to show -->
    				{%- if project.enable_popup -%}
    					<div id="{{ project.id }}" class="modal">
    						<div class="modal-content">
    							<span id="{{ project.id }}_close" class="close">&times;</span>
    							<!-- it passes arguments with the same name! -->
    							{% include_relative {{ site.baseurl }}/projects/generic.html %}
    						</div>
    					</div>
    				{%- endif -%}

    				<!-- image in the grid, with conditional enabling of the pop-up window -->
            {%- if project.enable_popup -%}
              <!-- <div class="{{ project.size }} hover-mask">
                <a href="javascript:;" onclick="openModal('{{ project.id }}', '{{ project.id }}_close')" title="">
                  <img src="{{ site.baseurl }}/projects/{{ project.image }}" alt=""/>
                  <h2><span class="text-white">{{ project.hovernote }}</span></h2>
                </a>
                <h4 class="text-center" style="font-size:14px">{{ project.footnote }}</h4>
              </div> -->

              <div class="{{ project.size }}">
                <div class="fall-item fall-effect">
                <img src="{{ site.baseurl }}/projects/{{ project.image }}"/>
                  <a href="javascript:;" onclick="openModal('{{ project.id }}', '{{ project.id }}_close')" title="">
                    <div class="mask">
                      <!-- <h2>{{ project.footnote }}</h2> -->
                      <p style="padding: 0px 20px 0px">{{ project.hovernote }}</p>
                      <p style="font-style:normal;padding: 0px 0px 0px;color:#FF0000;"><b>{{ project.hovernote_more }}</b></p>
                    </div>
                  </a>

                </div>  
                <h4 class="text-center" style="font-size:14px">{{ project.footnote }}</h4>
              </div>

            {%- else -%}
              <!-- <div class="{{ project.size }} hover-mask">
                <a style="cursor: auto;">
                  <img src="{{ site.baseurl }}/projects/{{ project.image }}" alt=""/>
                  <h2><span class="text-white">{{ project.hovernote }}</span></h2>
                </a>
                <h4 class="text-center" style="font-size:14px">{{ project.footnote }}</h4>
              </div> -->

              <div class="{{ project.size }}">
                <div class="fall-item fall-effect">
                <img src="{{ site.baseurl }}/projects/{{ project.image }}"/>
                  {%- if project.report == null -%}
                    <a style="cursor: auto;">
                      <div class="mask">
                        <p style="padding: 0px 20px 0px">{{ project.hovernote }}</p>
                        <p style="font-style:normal;padding: 0px 0px 0px;color:#FF0000;"><b>{{ project.hovernote_more }}</b></p>
                      </div>
                    </a>
                  {%- else -%}
                    <a href="{{ site.url }}/projects/{{ project.report }}" target="_blank">
                      <div class="mask">
                        <!-- <h2>{{ project.footnote }}</h2> -->
                        <p style="padding: 0px 20px 0px">{{ project.hovernote }}</p>
                        <p style="font-style:normal;padding: 0px 0px 0px;color:#FF0000;"><b>{{ project.hovernote_more }}</b></p>
                      </div>
                    </a>
                  {%- endif -%}
                </div>  
                <h4 class="text-center" style="font-size:14px">{{ project.footnote }}</h4>
              </div>
            {%- endif -%}

          {%- endif -%}
  			{%- endfor -%}
        </div>

        






        <!--              -->
        <!-- right column -->
        <!--              -->
        <div class="col-sm-6" style="padding-left:0px;padding-right:15px">
        <!-- <div class="col" style="width:50%;position:relative;min-height:1px;padding-right:15px;padding-left:15px"> -->
        {%- for project in include.projects -%}
          {%- if project.column == "right" -%}

            <!-- pop-up window, only if there's content to show -->
            {%- if project.enable_popup -%}
              <div id="{{ project.id }}" class="modal">
                <div class="modal-content">
                  <span id="{{ project.id }}_close" class="close">&times;</span>
                  <!-- it passes arguments with the same name! -->
                  {% include_relative {{ site.baseurl }}/projects/generic.html %}
                </div>
              </div>
            {%- endif -%}

            <!-- image in the grid, with conditional enabling of the pop-up window -->
            {%- if project.enable_popup -%}
              <!-- <div class="{{ project.size }} hover-mask">
                <a href="javascript:;" onclick="openModal('{{ project.id }}', '{{ project.id }}_close')" title="">
                  <img src="{{ site.baseurl }}/projects/{{ project.image }}" alt=""/>
                  <h2><span class="text-white">{{ project.hovernote }}</span></h2>
                </a>
                <h4 class="text-center" style="font-size:14px">{{ project.footnote }}</h4>
              </div> -->

              <div class="{{ project.size }}">
                <div class="fall-item fall-effect">
                <img src="{{ site.baseurl }}/projects/{{ project.image }}"/>
                  <a href="javascript:;" onclick="openModal('{{ project.id }}', '{{ project.id }}_close')" title="">
                    <div class="mask">
                      <!-- <h2>{{ project.footnote }}</h2> -->
                      <p style="padding: 0px 20px 0px">{{ project.hovernote }}</p>
                      <p style="font-style:normal;padding: 0px 0px 0px;color:#FF0000;"><b>{{ project.hovernote_more }}</b></p>
                    </div>
                  </a>

                </div>  
                <h4 class="text-center" style="font-size:14px">{{ project.footnote }}</h4>
              </div>

            {%- else -%}
              <!-- <div class="{{ project.size }} hover-mask">
                <a style="cursor: auto;">
                  <img src="{{ site.baseurl }}/projects/{{ project.image }}" alt=""/>
                  <h2><span class="text-white">{{ project.hovernote }}</span></h2>
                </a>
                <h4 class="text-center" style="font-size:14px">{{ project.footnote }}</h4>
              </div> -->

              <div class="{{ project.size }}">
                <div class="fall-item fall-effect">
                <img src="{{ site.baseurl }}/projects/{{ project.image }}"/>
                  {%- if project.report == null -%}
                    <a style="cursor: auto;">
                      <div class="mask">
                        <p style="padding: 0px 20px 0px">{{ project.hovernote }}</p>
                        <p style="font-style:normal;padding: 0px 0px 0px;color:#FF0000;"><b>{{ project.hovernote_more }}</b></p>
                      </div>
                    </a>
                  {%- else -%}
                    <a href="{{ site.url }}/projects/{{ project.report }}" target="_blank">
                      <div class="mask">
                        <!-- <h2>{{ project.footnote }}</h2> -->
                        <p style="padding: 0px 20px 0px">{{ project.hovernote }}</p>
                        <p style="font-style:normal;padding: 0px 0px 0px;color:#FF0000;"><b>{{ project.hovernote_more }}</b></p>
                      </div>
                    </a>
                  {%- endif -%}
                </div>  
                <h4 class="text-center" style="font-size:14px">{{ project.footnote }}</h4>
              </div>
            {%- endif -%}

          {%- endif -%}
        {%- endfor -%}
        </div>

        




    </div>
	</div>
</body>
