<!DOCTYPE html>
<html>
  <head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<!-- INSTRUCTIONS ARE TO KEEP IT AS FIRST ITEM INTO THE HEAD -->
		<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16344709-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-16344709-2');
		</script> -->

		<!-- this is the website's name supposed to appear at the explorer's tab and in Google search -->
		<title>{{ site.name }}{% if page.title %} | {{ page.title }}{% endif %}</title>

		<!-- general meta info description -->
		<meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

		<!-- this website's info is supposed to appear at the Google search -->
		<meta name="author" content="{{ site.author }}">
		<meta name="keywords" content="{{ site.keywords }}">
		<meta name="description" content="{{ site.description }}">

		<!-- there's something called open graph (og) that is used for attachments -->
		<!-- <meta property="og:description" content="{{ site.description }}" /> -->

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

		<!-- include css style sheets -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <!--a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/images/404.jpg" /></a-->

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <!-- <p class="site-description">{{ site.description }}</p> -->
						<p class="site-description"></p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <!-- <a href="{{ site.baseurl }}/projects">Projects</a> -->
						<a href="{{ site.baseurl }}/publications">Publications</a>
            <a href="{{ site.baseurl }}/cv">CV</a>
            <a href="{{ site.baseurl }}/contact">Contact</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
  </body>
</html>
